
@font-face {
  font-family: 'HeliosCond';
  src: local('helioscond'), url(../fonts/helioscond/HeliosCond.ttf) format('truetype');
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 35rem 35rem;
  grid-template-rows: 35rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /*grid-template-rows: 45rem;*/
}


.mainHeader {
  text-align: left;
  font-family: HeliosCond, Helvetica, sans-serif;
  color: white;
  background-color: blue;
  width: 100%;
  display:flex;
}

.mainHeaderText{
  margin: 1rem 1rem 0.7rem 1rem;
  padding: 0;
}

.singleGame {
  text-align: left;
  font-size: 2.5rem;
  color: blue;
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.singleGame:hover {
  text-align: left;
  font-size: 2.5rem;
  color: rgb(58, 110, 255);
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.mainContainer {
  background-color: white;
}

.gamesContainer {
  margin-left: 8%;
  background-color: white;
  overflow: auto;
}

.infoContainer {
  background-color: white;
  border-radius: 2rem;
  border: 0.2rem dashed blue; 
  margin: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 50% 50%;

}


.infoParagraph {
  max-width: 80%;
  max-height: 70%;
  margin: 3rem;
  margin-top: 4rem;
  font-family: HeliosCond, Helvetica, sans-serif;
  font-size: 1.25rem;
  overflow: auto;
}

.infoImage {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: blue;
}