
@font-face {
  font-family: 'HeliosCond';
  src: local('helioscond'), url(../fonts/helioscond/HeliosCond.ttf) format('truetype');
}

.test  {
  /*background-color: blue;*/
}

.mainHeader {
  text-align: center;
  font-size: 250%;
  font-family: HeliosCond, Helvetica, sans-serif;
  color: blue;
}

.singleGame {
  text-align: left;
  font-size: 2.5rem;
  color: blue;
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.singleGame:hover {
  text-align: left;
  font-size: 2.5rem;
  color: rgb(255, 0, 212);
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.mainContainer {
  background-color: white;
  width: 100%;
}

.gamesContainer {
  margin-left: 8%;
  background-color: white;
  width: 40%;
  float: left;
}

.infoContainer {
  background-color: white;
  width: 40%;
  height: 100%;
  float: left;
}

.singleGameImage {
  width: 20px;
  height: 20px;
}