
@font-face {
  font-family: 'HeliosCond';
  src: local('helioscond'), url(../fonts/helioscond/HeliosCond.ttf) format('truetype');
}

main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 35rem 35rem;
  margin-top: 5rem;
  /*grid-template-rows: 45rem;*/
}


.mainHeader {
  text-align: center;
  font-size: 250%;
  font-family: HeliosCond, Helvetica, sans-serif;
  color: blue;
}

.singleGame {
  text-align: left;
  font-size: 2.5rem;
  color: blue;
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.singleGame:hover {
  text-align: left;
  font-size: 2.5rem;
  color: rgb(255, 0, 212);
  font-family: HeliosCond, Helvetica, sans-serif;
  margin: 15%;
}

.mainContainer {
  background-color: white;
}

.gamesContainer {
  margin-left: 8%;
  background-color: white;
}

.infoContainer {
  background-color: white;
  border-radius: 2rem;
  border: 0.2rem dashed blue; 
  margin: 3rem;
}

.singleGameImage {
  width: 20px;
  height: 20px;
}